---
import { Image } from 'astro:assets';
import myImage from '../../img/studium-quad.jpg';
import actionImage from '../../img/marti-video.jpg';
---

<section class="py-16 sm:py-20">
  <svg
    class="absolute inset-0 -z-10 h-full w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
    aria-hidden="true"
  >
    <defs>
      <pattern
        id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc"
        width={200}
        height={200}
        x="50%"
        y={-1}
        patternUnits="userSpaceOnUse"
      >
        <path d="M.5 200V.5H200" fill="none"></path>
      </pattern>
    </defs>
    <svg x="40%" y={400} class="overflow-visible fill-accent/20">
      <path
        d="M-200 0h201v201h-201Z M600 -200h301v201h-201Z M-400 400h201v201h-201Z"
        stroke-width={0}></path>
    </svg>
    <rect
      width="100%"
      height="100%"
      stroke-width={0}
      fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)"></rect>
  </svg>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex gap-6">
        <div class="flex flex-col items-start gap-8 sm:gap-10">
          <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
            <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
              Event Moderation von Bern
            </h1>
            <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
              Anim aute id magna aliqua ad ad non deserunt sunt.
            </p>
          </div>
          <a
            href="/offer"
            class="inline-flex items-center justify-center rounded-full border border-transparent bg-accent px-5 py-3 text-base font-medium text-white transition hover:bg-accent-darken focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:text-primary-950 dark:focus-visible:outline-primary-400"
          >
            Offerten anfragen
          </a>
        </div>
        <div class="hidden -translate-y-16 lg:block">
          <Image src={myImage} alt="Studium Quad" class="rounded-3xl" height={600} />
        </div>
      </div>
      <div class="-mx-4 sm:-mx-6 lg:mx-0">
        <Image
          src={actionImage}
          alt="In Aktion"
          class="w-full lg:rounded-3xl object-cover lg:h-[560px]"
        />
      </div>
    </div>
  </div>
</section>
