---
import { Image } from 'astro:assets';
import myImage from '../../img/lua-16-9.jpg';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
        Projekte als Event Moderatorin <span class="block">und Sprecherin</span>
      </h2>

      <a href="projects/kkk" class="flex flex-col lg:flex-row rounded-3xl bg-primary-500/10 dark:bg-primary-400/10">
        <Image
          src={myImage}
          alt="Lua"
          class="lg:h-[360px] w-full lg:w-[540px] rounded-t-3xl lg:rounded-tr-none lg:rounded-l-3xl object-cover"
          transition:name="kkk"
        />
        <div class="flex flex-1 flex-col justify-between px-8 py-6">
          <div>
            <p
              class="mb-4 max-w-fit rounded-full bg-primary-200 px-2 py-px text-sm font-medium text-primary-950"
            >
              Moderation
            </p>
            <h3 class="text-xl font-medium">Kleinkunstkabühne</h3>
            <p
              class="text-base text-primary-950/70 dark:text-primary-200/70 sm:max-w-2xl sm:text-lg"
            >
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci veniam saepe autem
              amet, quae consectetur aperiam repellat error, eveniet voluptatibus necessitatibus.
              Non assumenda voluptatem ratione necessitatibus minus quasi, sapiente eveniet.
            </p>
          </div>
          <p
            class="max-w-fit self-end text-accent decoration-wavy underline-offset-4 hover:underline"
          >
            mehr erfahren
          </p>
        </div>
      </a>

    </div>
  </div>
</section>

<style>
  .link {
    --accent: #55ecdb;
    --acent-darken: #1ed2bd;
    position: relative;
  }

  .link::before {
    content: '';
    position: absolute;
    background-color: #020617;
    inset: 0.5rem -0.4rem -0.4rem 0.5rem;
    border-radius: 1.5rem;
    z-index: -1;
  }

  .link::after {
    content: '';
    position: absolute;
    background-color: var(--accent);
    inset: 0.8rem -0.7rem -0.7rem 0.8rem;
    border-radius: 1.5rem;
    z-index: -2;
  }

  .link:hover::after {
    background-color: var(--acent-darken);
  }
</style>
